.tab-label {
  font-size: 14px !important;
  font-family: "VictorMono Nerd Font";
  font-weight: 600;
  text-align: center;
}

.tabbrowser-tab:not([selected]) .tab-label {
  color: gray;
}

.tabbrowser-tab {
  transition: min-width 0.3s cubic-bezier(0.27, 0.91, 0.435, 1.28), max-width 0.3s cubic-bezier(0.27, 0.91, 0.435, 1.28), height 0.1s ease !important;
  height: 100%;
  /* Остальные свойства */
}

.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: 175px !important;
}

.tabbrowser-tab[selected]:not([pinned]) {
  min-width: 250px !important;
  max-width: 250px !important;
}

.tabbrowser-tab[selected="true"] {
  position: relative;
}

.tabbrowser-tab[selected="true"]::after {
  content: "";
  position: absolute;
  bottom: 1; /* Позиция линии внутри отступа */
  left: 50%; /* Переместить начало линии в центр элемента */
  width: 80%; /* Ширина линии */
  height: 2px; /* Толщина линии */
  background-color: white; /* Цвет линии */
  z-index: 1; /* Помещает линию поверх содержимого */
  transform: translateX(-50%); /* Центрирует линию относительно её начала */
}
